html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  color: #fff;
  font-family: comic sans ms;
  background-image: url("../assets/Doodle1.jpg");
  background-size: 150%;
  animation: bgMove 30s ease-in-out infinite;
  overflow: hidden;
}

@keyframes bgMove {
  0% {
    background-position: center 0%;
  }
  50% {
    background-position: center 100%;
  }
  100% {
    background-position: center 00%;
  }
}

.page {
  max-width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0px 75px 0px;
  gap: 25px;
}

.container {
  background: rgba(0, 85, 86, 0.315);
  padding: 25px;
  max-width: 100%;
  border-radius: 25px;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
}
.header {
  background: rgba(131, 131, 131, 0.25);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  padding: 15px;
}

h2 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 15px;
}

.form {
  display: flex;
  gap: 10px;
}

.form input {
  flex: 1;
  padding: 8px;
  border-radius: 3px;
  border: none;
}

.form button {
  width: 40px;
  border: none;
  margin-top: -1px;
  margin-bottom: 2px;
  background: #002f32;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: #000000 1px 3px 5px;
}

.form button:active {
  background: #ffffff;
  color: #002e3f;
  font-size: 25px;
  box-shadow: none;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin: 15px 0px 0px 0px;

}

.actions button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#filterBtn {
  background: #64748b;
  color: white;
  box-shadow: #000000 1px 3px 5px;
  width: 75px;
  height: 35px;
  position: relative;
}

#filterBtn:active {
  background: #000000;
  color: #00ffd0;
  box-shadow: none;
}

#filterBtn::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  transition-delay: 500ms;
}

#deleteAllBtn {
  background: #ef4444;
  color: white;
  box-shadow: #000000 1px 3px 5px;    
}

#deleteAllBtn:active {
  background: #ffffff;
  color: #ef4444;
  box-shadow: none;
}

.table-container {
  background: rgba(131, 131, 131, 0.25);
  margin-top: 25px;
  border-radius: 20px;
  padding: 15px;
  backdrop-filter: blur(15px);
  max-height: 45vh;          
  overflow-y: auto; 
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

thead tr {
  border-bottom: 1px solid rgba(255,255,255,0.6);
}

tbody tr:not(:last-child) {
  border-bottom: 1px solid rgba(255,255,255,0.35);
}

th, td {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

td{
  min-height: 70px;
}

.row-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 8px 0;
}

th:last-child,
td:last-child {
  width: 180px;
  min-height: 80px;
  vertical-align: middle;
}

.aksi-cell {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty {
  text-align: center;
  color: #ffffff;
  padding: 10px;
  opacity: 0.5;
}

.empty-row {
  text-align: center;
}

.hide-row {
  display: none;
}

.done {
  text-decoration: line-through;
  color: #00aa11;
}

.aksi.success {
  background: #ffae00;
}


.aksi.pending {
  background: #00aa11;
}

.done-btn {
  background: #00aa11;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  min-height: 30px;
  max-height: 50px;
  box-shadow: #000000 1px 3px 5px;
}

.done-btn:active {
  background: #ffffff;
  color: #00aa11;
  box-shadow: none;
}

.delete-btn {
  background: #ef4444;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  min-height: 30px;
  min-width: 60px;
  box-shadow: #000000 1px 3px 5px;
}

.delete-btn:active {
  background: #ffffff;
  color: #ef4444;
  box-shadow: none;
}

@media (max-width: 767px) {

  .page{
    justify-content: flex-start;
    padding: 100px 10px;
  }

  body {
    align-items: flex-start;
    justify-content: flex-start;
    background-size: 300%;
  }

  .container {
    width: 90%;
    max-width: none;
    max-height: none;
    padding: 20px;
    margin-top: 20px;
  }

  .header {
    padding: 20px;
  }

  h2 {
    font-size: 20px;
  }

  .form {
    flex-direction: row;
    gap: 10px;
  }

  .form input{
   min-width: 30%;
  }

  .form button {
    width: 13%;
    height: 35px;
    margin-bottom: 3px;
    align-self: center;
    font-size: 30px;
  }

  .actions {
    flex-direction: row;
    gap: 10px;
    height: 30px;
  }

  #filterBtn {
    width: 80px;
    height: 110%;
  }

  #deleteAllBtn {
    width: 150px;
    height: 110%;
  }

  .table-container {
    padding: 20px;
  }

  table {
    font-size: 13px;
  }
  th:last-child,
  td:last-child {
    width: 95px;
  }
  th, td {
    padding: 6px;
  }
  td{
    vertical-align: middle;
  }
  .row-actions {
    flex-direction: column;
    gap: 10px;
  }

  .aksi.pending{
    min-width: 100px;
  }

  .aksi.success{
    min-width: 100px;
  }

  .delete-btn{
    min-width: 100px;
  }
  .footer {
    margin-bottom: 20px;
  }

}

.footer {
  text-align: center;
  font-size: 12px;
  opacity: 0.8;
  padding: 10px;
  border-radius: 15px;
  background: rgba(0, 85, 86, 0.3);
  backdrop-filter: blur(10px);
}


